@font-face {
    font-family: "Panton";
    font-weight: 400;
    font-style: normal;
    src: url("~@/assets/fonts/Panton-Regular.woff");
}

@font-face {
    font-family: "Panton";
    font-weight: 700;
    font-style: normal;
    src: url("~@/assets/fonts/Panton-Bold.woff");
}

@font-face {
    font-family: "Panton";
    font-weight: 300;
    font-style: normal;
    src: url("~@/assets/fonts/Panton-Light.woff");
}

@font-face {
    font-family: "Panton";
    font-weight: 600;
    font-style: normal;
    src: url("~@/assets/fonts/Panton-SemiBold.woff");
}

@font-face {
    font-family: "GothamPro";
    font-weight: 400;
    font-style: normal;
    src: url("~@/assets/fonts/GothamProRegular.woff");
}

@font-face {
    font-family: "GothamPro";
    font-weight: 700;
    font-style: normal;
    src: url("~@/assets/fonts/GothamProBold.woff");
}

@font-face {
    font-family: "GothamPro";
    font-weight: 300;
    font-style: normal;
    src: url("~@/assets/fonts/GothamProLight.woff");
}